@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight lg:text-5xl;
    }

    h2 {
        @apply text-3xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-2xl font-semibold tracking-tight;
    }

    p {
        @apply leading-7;
    }
}